/* Typography */
a{
  color: #fff;
}
a:hover,
a:focus{
  color: #ccc;
}
/* Custom Classes */
.bg-black{
  background-color: #000;
}
.navigation-button:hover{
	cursor: pointer;
	opacity: 0.8;
}
.container-card{
  border: none;
}
.container-body{
  border: 1px solid rgba(0,0,0,.125);
}

#header-section .avatar{
	min-height: 250px;
	background: url('assets/img/person1.jpg') no-repeat scroll center/cover;
}